html,
body {
  font-family: Arial, Helvetica, sans-serif;
  width: 400px;
}

.hidden {
  display: none;
}

.errors {
  color: rgba(255, 0, 0, 0.565);
  border: 2px black;
}

button {
  border-radius: 20px;
  border: 2px black;
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.2em;
  cursor: pointer;
}

button:hover {
  background-color: #cff2f2;
}

button#run-button {
  background-color: #fbfbc9;
}

button#run-button {
  background-color: #eaea9d;
}
