<html><body>
<head>
    <link rel="stylesheet" href="../popup.css" />
    <link rel="stylesheet" href="logs.css" />
</head>

<table id="this-run-table">
    <thead>
        <th colspan="4">Jobs This Run</th>
    </thead>
    <tbody>
        <tr id="340250004" class="accept">
            <td class="location" colspan="2">PRARIE MIDDLE SCHOOL</td>
            <td class="dates"> 3/17/2025 - 3/17/2025 </td>
        </tr>
        <tr class="accept">
            <td class="name"> Abigale Kensington </td>
            <td class="title"> Language arts 7,8,9</td>
            <td class="times"> 8:00am - 4:00pm : full</td>
        </tr>
        <tr id="340250004" class="reject">
            <td class="location" colspan="2">PRARIE MIDDLE SCHOOL</td>
            <td class="dates"> 3/17/2025 - 3/17/2025 </td>
        </tr>
        <tr class="reject">
            <td class="name"> Abigale Kensington </td>
            <td class="title"> Language arts 7,8,9</td>
            <td class="times"> 8:00am - 4:00pm : full</td>
        </tr>
    </tbody>
</table>
<br />
<table id="log-table">
    <thead>
        <th colspan="4">Old Jobs</th>
    </thead>
    <tbody>
        <tr id="340250004" class="accept">
            <td class="location" colspan="2">PRARIE MIDDLE SCHOOL</td>
            <td class="dates"> 3/17/2025 - 3/17/2025 </td>
        </tr>
        <tr class="accept">
            <td class="name"> Abigale Kensington </td>
            <td class="title"> Language arts 7,8,9</td>
            <td class="times"> 8:00am - 4:00pm : full</td>
        </tr>
        <tr class="id-time"><td colspan="4">#:340250004 at 3/14 3:27pm</td></tr>
    </tbody>
</table>




</body></html>