<!doctype html>
<html>
  <head>
    <title>Sub-job-grabber</title>
    <meta charset="utf-8" />
  </head>

  <body>
    <form>
        <fieldset name="Rules">
            <legend>Rules</legend>
            <table>
                <thead>
                    <tr>
                        <th>Action:</th>
                        <th>Date Range </th>
                        <th>Type:</th>
                        <th>Regular Expression match</th>
                        <th>Delete Rule</th>
                    </tr>
                </thead>
                <tbody id="rules-tbody">
                    
                </tbody>
            </table>
            <button type="button" id="new-rule-button"> New Rule </button>
        </fieldset>
    </form>

    <script src="rules.js"></script>

  </body>
</html>